*.iml
.idea/
log/
target/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
*.class
*.war
*.ear
hs_err_pid*
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.factorypath
.buildpath
.texlipse